extends ./layout.pug
append configValues
    - duoshuoConfig={thread_key:"write2soul_001",title:"index of write2soul",url:"http://asherwang.github.io/"}
    - blogConfig={markdownSrc:"./README.md",name:"README"}
    - commonDir="../common"
block title
    title 关于
append commonstyle
    link(rel="stylesheet",href=commonDir+"/cssModify.css")
    link(rel="stylesheet",href=commonDir+"/blog.css")
block content
    .body
        .blog-container
            .blog-title
                .blog-title-text=blogConfig.name
            .blog-content#readme
                #result.markdown-body
            .blog-comment
                if duoshuoConfig.open
                    .ds-thread(data-thread-key=duoshuoConfig.thread_key data-title=duoshuoConfig.title data-url=duoshuoConfig.url)
append scripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js")
    if duoshuoConfig.open
        script(src=commonDir+"/duoshuo.js")
    script
        | marked.setOptions({highlight: function (code) {return hljs.highlightAuto(code).value;}});
        | $.get("#{blogConfig.markdownSrc}", function (data, status) {$("#result").append($(marked(data)));});